$custom-primary: #ff8e47;
$custom-secondary: #ff2ced;
//$custom-primary: #343a40;
//$custom-secondary: lighten(#343a40, 15);

$enable-rounded: false;
$theme-colors: (
        "custom-primary": $custom-primary,
        "custom-secondary": $custom-secondary
);

$custom-file-text: (
        fr: "Parcourir"
);