{% extends 'base-admin.html.twig' %}

{% block title %}Modifier Actualite{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Modifier Actualite</h1>
            <div class="top_btns mb-3">
                <a class="btn btn-secondary" href="{{ path('actualite_index') }}">
                    Retour
                </a>
            </div>
            {{ include('actualite/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="bottom_btns mt-3">
                <a class="btn btn-secondary" href="{{ path('actualite_index') }}">Retour</a>
            </div>
            {{ include('actualite/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
