{% extends 'base-admin.html.twig' %}

{% block title %}Ajout Actualite{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Création Actualite</h1>
            {{ include('actualite/_form.html.twig', {'button_label': 'Ajouter'}) }}
            <div class="bottom_btns mt-3">
                <a class="btn btn-secondary" href="{{ path('actualite_index') }}">
                    Retour
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
