@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Hairline.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url("NokaTrial-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

