@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Bold.eot');
    src: url('NokaTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Bold.woff2') format('woff2'),
        url('NokaTrial-Bold.woff') format('woff'),
        url('NokaTrial-Bold.ttf') format('truetype'),
        url('NokaTrial-Bold.svg#NokaTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Black.eot');
    src: url('NokaTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Black.woff2') format('woff2'),
        url('NokaTrial-Black.woff') format('woff'),
        url('NokaTrial-Black.ttf') format('truetype'),
        url('NokaTrial-Black.svg#NokaTrial-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Semibold.eot');
    src: url('NokaTrial-Semibold.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Semibold.woff2') format('woff2'),
        url('NokaTrial-Semibold.woff') format('woff'),
        url('NokaTrial-Semibold.ttf') format('truetype'),
        url('NokaTrial-Semibold.svg#NokaTrial-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Hairline.eot');
    src: url('NokaTrial-Hairline.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Hairline.woff2') format('woff2'),
        url('NokaTrial-Hairline.woff') format('woff'),
        url('NokaTrial-Hairline.ttf') format('truetype'),
        url('NokaTrial-Hairline.svg#NokaTrial-Hairline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Medium.eot');
    src: url('NokaTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Medium.woff2') format('woff2'),
        url('NokaTrial-Medium.woff') format('woff'),
        url('NokaTrial-Medium.ttf') format('truetype'),
        url('NokaTrial-Medium.svg#NokaTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noka Trial';
    src: url('NokaTrial-Light.eot');
    src: url('NokaTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('NokaTrial-Light.woff2') format('woff2'),
        url('NokaTrial-Light.woff') format('woff'),
        url('NokaTrial-Light.ttf') format('truetype'),
        url('NokaTrial-Light.svg#NokaTrial-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

