{% extends 'base.html.twig' %}

{% block body %}
    <main class="homepage">
        <div id="top"></div>
        {# BANDEAU #}
        {% include 'includes/bandeau.html.twig' %}
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-md-6">
                    <div class="shadow p-5">
                        {% include 'includes/conf-files/readme.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-6">
                    {% include 'includes/conf-files/composer.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% include 'includes/conf-files/package.html.twig' %}
                </div>
            </div>
            {# OUTILS CONTACT #}
            <div id="contact my-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {% include 'includes/contact.html.twig' %}
                    </div>
                </div>
            </div>
            {# RSS FEED #}
            {% include 'includes/rss-feed.html.twig' %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha }}', {action: 'homepage'}).then(function (token) {
                $('#ID_INPUT_RECAPTCHA').val(token);
            });
        });
    </script>
{% endblock %}
