{% extends 'base.html.twig' %}

{% block title %}Robin Parisot - Développeur WEB{% endblock %}

{% block body %}
    <main class="homepage">
        <div id="top"></div>
        {# TOP NAV #}
        {% include 'includes/navigation.html.twig' %}
        {# BANDEAU #}
        {% include 'includes/bandeau.html.twig' %}
        <div class="container">
            {# OUTILS FRONT #}
            <div id="tools-front">
                {% include 'includes/tools/front.html.twig' %}
            </div>
            {# OUTILS BACK #}
            <div id="tools-back">
                {% include 'includes/tools/back.html.twig' %}
            </div>
            {# OUTILS DIVERS #}
            <div id="tools-other">
                {% include 'includes/tools/other.html.twig' %}
            </div>
            {# ACTUALITES #}
            <div id="actualites">
                {% include 'includes/actualites.html.twig' %}
            </div>
            {# PORTFOLIO #}
            {#<div id="portfolio">
                {% include 'includes/portfolio.html.twig' %}
            </div>#}
            {# OUTILS CONTACT #}
            <div id="contact">
                {% include 'includes/contact.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha }}', {action: 'homepage'}).then(function (token) {
                $('#ID_INPUT_RECAPTCHA').val(token);
            });
        });
    </script>

{% endblock %}