{% extends 'base.html.twig' %}

{% block title %}Robin Parisot - Développeur WEB{% endblock %}

{% block body %}
    {# TOP NAV #}
    {% include 'includes/navigation.html.twig' %}
    {# BANDEAU #}
    {% include 'includes/bandeau.html.twig' %}
    <div class="container">
        {# OUTILS FRONT #}
        {% include 'includes/tools/front.html.twig' %}
        {# OUTILS BACK #}
        {% include 'includes/tools/back.html.twig' %}
        {# OUTILS DIVERS #}
        {% include 'includes/tools/other.html.twig' %}
        {# PORTFOLIO #}
        {% include 'includes/portfolio.html.twig' %}
        {# OUTILS CONTACT #}
        {% include 'includes/contact.html.twig' %}
    </div>
{% endblock %}
