{% extends 'base.html.twig' %}

{% block title %}Robin Parisot - Développeur WEB{% endblock %}

{% block body %}
    <main class="homepage">
        <div id="top"></div>
        {# BANDEAU #}
        {% include 'includes/bandeau.html.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    composer.json
                    <pre>
                    <code>
{% include 'includes/conf-files/composer.json.twig' %}

                    </code>
                </pre>
                </div>
                <div class="col-md-6">
                    package.json
                    <pre>
                    <code>
{% include 'includes/conf-files/package.json.twig' %}
                    </code>
                </pre>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'includes/conf-files/README.md.twig'|markdown %}
                </div>
            </div>
            {# OUTILS CONTACT #}
            <div id="contact">
                {% include 'includes/contact.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha }}', {action: 'homepage'}).then(function (token) {
                $('#ID_INPUT_RECAPTCHA').val(token);
            });
        });
    </script>
{% endblock %}
