{% extends 'base.html.twig' %}

{% block title %}Compétences - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        {% for skill in skills %}
            <p>{{ skill }} ({{ skill.parentsSkills|join(",") }})</p>
        {% endfor %}
    </div>
{% endblock %}
