{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta dignissimos doloremque dolores eius ex
            impedit inventore natus, omnis, quidem sunt tenetur totam veniam. Alias error facere qui vel voluptatum.
        </p>
    </div>
{% endblock %}
