{% import 'macro/actuality-card.html.twig' as actualityMacro %}
<h2 class="title text-center">Actualites</h2>
<div class="row justify-content-center mb-5 actualities">
    {% for actuality in actualities %}
        <div class="col-md-4">
            {{ actualityMacro.actualityCard(actuality) }}
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-end">
    <a href="{{ path('ACTUALITES') }}" class="btn btn-gradiant">Tous voir <i class="fa fa-angle-double-right"></i></a>
</div>