<h2 class="title text-center">Contactez moi</h2>
<div class="row justify-content-center mb-5 wow slideInUp">
    <div class="col-md-6">
        <div class="shadow p-5">
            {% include 'includes/contact-form.html.twig' with {'form':form} %}
        </div>
    </div>
</div>