<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-between w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="#top">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tools-front">Outils frontend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tools-back">Outils backend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tools-other">Autres outils</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>