.callout {
  padding:           20px;
  //border:            5px solid transparent;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius:     10px;
  box-shadow:        $box-shadow-lg;

  @each $color, $value in $theme-colors {
    &.callout-#{$color} {
      border-left-color: $value;
    }
  }
}