.callout {
  padding:           20px;
  border:            1px solid $gray-400;
  border-left-style: solid;
  border-left-width: 3px;
  border-radius:     5px;
  box-shadow:        $box-shadow-lg;

  @each $color, $value in $theme-colors {
    &.callout-#{$color} {
      border-left-color: $value;
    }
  }
}