{% import 'macro/tool-card.html.twig' as toolMacro %}
<h2 class="title text-center">Outils backend</h2>
<div class="row justify-content-center">
    {% for i,toolBack in toolsBack %}
        {{ toolMacro.toolCard(toolBack,i ) }}
    {% endfor %}
</div>