{% import 'macro/tool-card.html.twig' as toolMacro %}
<h2>Autres outils</h2>
<div class="row justify-content-center">
    {% for toolOther in toolsOther %}
        {{ toolMacro.toolCard(toolOther ) }}
    {% endfor %}
</div>