<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Robin Parisot - Développeur WEB{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}Robin Parisot, Développeur WEB fullstack PHP, Symfony, Magento 2{% endblock %}">
    <meta name="author" content="Robin PARISOT">
    <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102245223-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102245223-3');
    </script>

</head>
<body>
{% block body %}{% endblock %}
{% include 'includes/footer.html.twig' %}
<script src="{{ asset('js/plugins.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('js/app.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
