<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Robin Parisot - Développeur WEB{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'includes/admin/navigation.html.twig' %}
{% include 'includes/notification.html.twig' %}
<div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Salut dans l'admin gros</h1>
    {% endif %}
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('js/plugins.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('js/admin.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>