<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Robin Parisot - Développeur WEB{% endblock %}</title>
    {{ encore_entry_link_tags('css/style') }}
    {% block stylesheets %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102245223-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102245223-3');
    </script>

</head>
<body>
{% block body %}{% endblock %}
{% include 'includes/footer.html.twig' %}
{{ encore_entry_script_tags('js/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
