<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Robin Parisot - Développeur WEB{% endblock %}</title>
    {{ encore_entry_link_tags('css/style') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'includes/admin/navigation.html.twig' %}
<div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Salut dans l'admin gros</h1>
    {% endif %}
    {% block body %}{% endblock %}
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{{ encore_entry_script_tags('js/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>