<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Robin PARISOT - Développeur WEB Fullstack{% endblock %}</title>
    {% include 'parts/_favicon.html.twig' %}
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'parts/_navigation.html.twig' %}

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-md-10">
        </div>
    </div>
</div>

{% block body %}{% endblock %}

{% include 'parts/_footer.html.twig' %}
</body>
</html>
