<section id="about">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-10">
                <div class="content">
                    <div class="row" data-aos="fade-up">
                        <div class="col-md-4">
                            {% include 'parts/_double-bar-svg.html.twig' with {classes:'double-bar-secondary double-bar-flipped'} %}
                            <img src="{{ asset('images/homepage/about/computer-about.png') }}" alt="Ordinateur"
                                 class="img-fluid">

                        </div>
                        <div class="col-md-6">
                            <div class="h-100 d-flex flex-column justify-content-center text-end">
                                <h1 class="main-title text-end">À propos de moi</h1>
                                <p>
                                    Je suis un développeur web expérimenté, passionné par les technologies web. J'ai
                                    commencé à
                                    travailler dans l'industrie il y a plus de 6 ans, et depuis lors, j'ai aidé de
                                    nombreux
                                    clients à atteindre leurs objectifs en matière de développement web. Je suis
                                    spécialisé dans
                                    l'utilisation du framework Symfony, que j'ai utilisé pour créer des sites web pour
                                    des
                                    entreprises de toutes tailles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

