{% import 'macro/_macros.html.twig' as macros %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="content" data-aos="fade-up">
            <h1 class="main-title text-center">Contact</h1>
            <p>
                Si vous êtes intéressé par mes services de développement web et de technologies
                front-end,
                n'hésitez pas à me contacter en utilisant le formulaire ci-dessous. Je serais heureux de
                discuter de votre projet et de vous proposer une solution adaptée à vos besoins.
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xl-6 col-xxl-4">
        <div class="content" data-aos="fade-up">
            {{ component('contact',{
                contact: contact,
                form: form
            }) }}
        </div>
    </div>
</div>
