<div class="row justify-content-center" data-aos="fade-up">
    <div class="col-lg-8">
        <h1 class="main-title">Services</h1>
        <p>
            Je suis spécialisé dans la création de sites web en utilisant le framework
            <strong>Symfony</strong>,
            mais je suis
            également compétent
            dans d'autres technologies web, telles que <strong>PHP</strong>,
            <strong>Bootstrap</strong>
            <strong>Webpack</strong>,
            <strong>Grunt</strong>,
            <strong>Sass</strong>,
            <strong>JavaScript</strong>,
            <strong>jQuery</strong> et
            <strong>Elasticsearch</strong>,
            <strong>Mercure</strong>.
            Voici les services que je peux vous proposer :
        </p>
        <ul class="nav nav-pills nav-justified my-5" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-dev-web-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-dev-web"
                        type="button" role="tab" aria-controls="pills-dev-web" aria-selected="true">
                    <span class="text">DÉVELOPPEMENT WEB</span> <i class="fa-solid fa-code icon"></i>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-devops-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-devops"
                        type="button" role="tab" aria-controls="pills-devops" aria-selected="false">
                    <span class="text">DEVOPS</span> <i class="fa-solid fa-server icon"></i>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-advanced-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-advanced" type="button" role="tab"
                        aria-controls="pills-advanced"
                        aria-selected="false">
                    <span class="text">AVANCÉ</span> <i class="fa-brands fa-pied-piper icon"></i>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-dev-web" role="tabpanel"
                 aria-labelledby="pills-dev-web-tab"
                 tabindex="0">
                <h2>
                    Développement web : Symfony, Webpack, SCSS, jQuery, JavaScript
                </h2>
                <p>
                    Je suis un développeur web, avec une passion pour les dernières
                    technologies et les pratiques de codage les plus efficaces. Mes compétences en
                    développement web incluent <a href="https://symfony.com/" target="_blank"
                                                  rel="noopener">Symfony</a>, <a
                            href="https://webpack.js.org/" target="_blank" rel="noopener">Webpack</a>,
                    <a href="https://sass-lang.com/" target="_blank" rel="noopener">SCSS</a>, <a
                            href="https://jquery.com/" target="_blank" rel="noopener">jQuery</a> et <a
                            href="https://www.javascript.com/" target="_blank"
                            rel="noopener">JavaScript</a>.
                </p>
                <p>
                    Grâce à mon expérience en <strong>Symfony</strong>, je suis capable de créer des
                    applications web robustes, sécurisées et évolutives pour mes clients. Mes
                    compétences en <strong>Webpack</strong> me permettent de gérer efficacement les
                    dépendances et de réduire le temps de chargement des pages. Et grâce à mon expertise
                    en <strong>SCSS</strong>, je suis capable de créer des styles modernes et élégants
                    qui offrent une expérience utilisateur exceptionnelle.
                </p>
                <p>
                    En utilisant <strong>jQuery</strong> et <strong>JavaScript</strong>, je suis en
                    mesure de créer des fonctionnalités interactives et des animations pour vos sites
                    web, améliorant ainsi l'engagement des utilisateurs et la convivialité.
                </p>
                <p>
                    Je suis passionné par la création de sites web qui fonctionnent bien, ont un design
                    élégant et sont faciles à utiliser. Je travaille étroitement avec mes clients pour
                    comprendre leurs besoins et leurs objectifs, afin de créer des sites web
                    personnalisés qui reflètent leur marque et leur identité.
                </p>
                <p>
                    Si vous recherchez un développeur web pour votre entreprise,
                    contactez-moi
                    dès aujourd'hui pour discuter de votre projet.
                </p>
            </div>
            <div class="tab-pane fade" id="pills-devops" role="tabpanel"
                 aria-labelledby="pills-devops-tab"
                 tabindex="0">
                <h2>
                    DevOps : Apache, Nginx, Docker, Linux, bases de données et
                    permissions
                </h2>
                <p>
                    En tant que <strong>DevOps</strong>, j'ai une passion pour l'optimisation des
                    processus de développement logiciel. Mes compétences en <a
                            href="https://httpd.apache.org/" target="_blank" rel="noopener"><strong>Apache</strong></a>
                    et <a href="https://www.nginx.com/" target="_blank" rel="noopener"><strong>Nginx</strong></a> me
                    permettent de configurer des serveurs web performants et de répondre aux besoins de
                    mes clients.
                </p>
                <p>
                    Mais je ne m'arrête pas là. Ma connaissance approfondie de <a
                            href="https://www.docker.com/" target="_blank" rel="noopener"><strong>Docker</strong></a> me
                    permet de créer des environnements de développement, de développement principalement
                    rapides et efficaces. Je suis également à l'aise avec <a
                            href="https://www.linux.org/" target="_blank" rel="noopener">Linux</a>, les
                    bases de données, ce qui me permet de gérer des infrastructures
                    complexes avec facilité.
                </p>
                <p>
                    En tant que professionnel passionné par l'optimisation des processus, j'utilise des
                    outils de monitoring pour garantir que les applications fonctionnent correctement et
                    je suis constamment à la recherche de nouvelles techniques pour améliorer
                    l'efficacité de mes workflows.
                </p>
            </div>
            <div class="tab-pane fade" id="pills-advanced" role="tabpanel"
                 aria-labelledby="pills-elasticsearch-tab"
                 tabindex="0">
                <h2>
                    Elasticsearch et Mercure
                </h2>
                <p>
                    En tant que développeur web, je suis passionné par l'utilisation d'outils tels que
                    <strong>Elasticsearch</strong> et <strong>Mercure</strong> pour améliorer
                    l'expérience utilisateur et fournir des résultats de recherche en temps réel.
                </p>
                <p>
                    Avec <strong>Elasticsearch</strong>, je peux configurer des recherches efficaces et rapides pour mes
                    clients, permettant aux utilisateurs de trouver rapidement ce qu'ils cherchent. Mes
                    compétences en Mercure me permettent de créer des applications en temps réel qui
                    offrent une expérience utilisateur fluide et interactive.
                </p>
                <p>
                    En combinant ces compétences avec mes connaissances en développement web, notamment
                    avec <strong>Symfony</strong>, Webpack, Scss, Jquery, Javascript, je suis capable de concevoir et de
                    mettre en œuvre des applications web performantes et innovantes pour mes clients.
                </p>
                <p>
                    Je suis convaincu que ces compétences en Elasticsearch et Mercure, ainsi que mes
                    connaissances en développement web, me permettent de fournir des solutions créatives
                    et efficaces pour répondre aux besoins de mes clients.
                </p>
            </div>
        </div>
    </div>
</div>
