<div id="top-banner">
    {% include 'parts/_double-bar-svg.html.twig' with {classes:'double-bar-primary'} %}
    {% include 'parts/_double-bar-svg.html.twig' with {classes:'double-bar-secondary double-bar-flipped'} %}
    <section id="top-banner-content">
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="content" data-aos="fade-in">
                                <img src="{{ asset('logo/logo-dark-rectangle.svg') }}" alt="" width="500">
                                <p>
                                    Bonjour et bienvenue sur mon site web ! Je suis Robin PARISOT, développeur web <strong>Symfony</strong>
                                    et <strong>DevOps</strong> avec plus de <strong>6 ans d'expérience</strong> dans
                                    l'industrie. Mon objectif est d'aider les particuliers et les entreprises à créer
                                    des <strong>sites web performants</strong> et <strong>fonctionnels</strong>, grâce à des
                                    solutions personnalisées et adaptées à leurs besoins.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>