{#{% apply markdown_to_html %}#}
{#    ```json#}
{#    // composer.json#}
{#    {#}
{#        "author": "Robin PARISOT",#}
{#        "version": "1.0.0",#}
{#        "require": {#}
{#            "php": "^7.*.*", // "^5.*.*"#}
{#            "symfony": "^4.*.*", // "^3.*.*"#}
{#            "magento": "^2.*.*",#}
{#            "elasticsearch": "^6.*.*"#}
{#        }#}
{#    }#}
{#    ```#}
{#{% endapply %}#}
<pre class="h-100"><code class="language-json h-100 d-flex flex-column justify-content-center"><div>
// composer.json
{
    "author": "Robin PARISOT",
    "version": "2.0.0",
    "require": {
        "php": "7.*.*", // "5.*.*"
        "symfony": "4.*.*", // "3.*.*"
        "magento": "2.*.*",
        "elasticsearch": "6.*.*"
    }
}
</div></code></pre>