{#{% apply markdown_to_html %}#}
{#    ```json#}
{#    // package.json#}
{#    {#}
{#        "author": "Robin PARISOT",#}
{#        "version": "1.0.0",#}
{#        "dependencies": {#}
{#            "bootstrap": "^4.*.*", // "^3.*.*"#}
{#            "jquery": "^3.*.*"#}
{#        },#}
{#        "devDependencies": {#}
{#            "webpack-encore": "^1.*.*",#}
{#            "grunt": "^1.*.*",#}
{#            "sass": "*"#}
{#        }#}
{#    }#}
{#    ```#}
{#{% endapply %}#}


<pre class="h-100"><code class="language-json h-100 d-flex flex-column justify-content-center"><div>
// package.json
{
    "author": "Robin PARISOT",
    "version": "2.0.0",
    "dependencies": {
        "bootstrap": "4.*.*", // "3.*.*"
        "jquery": "3.*.*"
    },
    "devDependencies": {
        "webpack-encore": "1.*.*",
        "grunt": "1.*.*",
        "sass": "*"
    }
}</div></code></pre>