{
    "author": "Robin PARISOT",
    "version": "1.0.0",
    "repository": "<a href="https: //github.com/N445" target="_blank">https://github.com/N445</a>",
    "dependencies": {
        "jquery": "^3.4.1",
        "bootstrap": "^4.3.1",
        "@fortawesome/fontawesome-free": "^5.11.1",
        "animate.css": "^3.7.2",
        "bs-custom-file-input": "^1.3.2",
        "moment": "^2.24.0",
        "noty": "^3.2.0-beta",
        "select2": "^4.0.10",
        "wow.js": "^1.2.2"
    },
    "devDependencies": {
        "@symfony/webpack-encore": "^0.28.0",
        "node-sass": "^4.12.0"
    }
}
