<div class="globals-info">
    <div class="links">
        <div class="row">
            <div class="col">
                <div class="link">
                    <a href="https://github.com/N445" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="link">
                    <a href="https://www.linkedin.com/in/robin-parisot-56197890/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>Linux</li>
        <li>Bash</li>
        <li>Docker</li>
        <li>Docker compose</li>
        <li>PHP Storm</li>
        <li>Anglais technique</li>
    </ul>
</div>