{#{% apply markdown_to_html %}#}
{#    #Robin PARISOT#}
{#    ---#}
{#    ##Développeur web#}

{#    ![GIT HUB]({{ absolute_url( asset('images/tools/github.jpg')|imagine_filter('tool_icon')) }} "GIT HUB") https://github.com/N445#}

{#    ![LinkedIn]({{ absolute_url( asset('images/tools/linkedin.png')|imagine_filter('tool_icon')) }} "LinkedIn") https://www.linkedin.com/in/robin-parisot-56197890/#}

{#    - Linux#}
{#    - Bash#}
{#    - Docker#}
{#    - PHP Storm#}
{#    - Anglais technique#}
{#{% endapply %}#}

<div class="globals-info">
{#    <h1>Robin PARISOT</h1>#}
{#    <hr>#}
{#    <h2>Développeur web</h2>#}
    <div class="links">
        <div class="row">
            <div class="col">
                <div class="link">
                    <a href="https://github.com/N445" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="link">
                    <a href="https://www.linkedin.com/in/robin-parisot-56197890/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>Linux</li>
        <li>Bash</li>
        <li>Docker</li>
        <li>PHP Storm</li>
        <li>Anglais technique</li>
    </ul>
</div>