{# read and display all flash messages #}
{% if app.flashes is defined %}
    <div class="container" aria-live="polite" aria-atomic="true" style="position: relative; z-index:2000;">
        <div class="toast-container" style="position: absolute; top: 20px; right: var(--bs-gutter-x, 0.75rem);">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <div class="p-2 rounded-2 bg-{{ label }} d-inline-block me-2"></div>
                            <strong class="me-auto ">{{ message.title }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message.text }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}