<div id="skills">
    <div class="container">
        <div class="row row-cols-3">
                <div class="col mb-4">
                    <div class="skill php">
                        <div class="content">
                            <img src="{{ asset('images/skills/php.svg') }}" alt="php" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="skill symfony">
                        <div class="content">
                            <img src="{{ asset('images/skills/symfony.png') }}" alt="php" class="img-fluid">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>